.relative{
    position: relative;
    left:100px;
    top:0;
}
.absolute{
    position: absolute;
    top:0;
    right:0;
}
.absoluteVeena{
    position: absolute;
    top:0;
    left:0;
}.imageparent {
    position:relative;

}